<%= render 'spotlight/shared/exhibit_sidebar' %>
<div id="content" class="col-md-9">
<%= configuration_page_title %>

<p class="instructions"><%= t(:'.exhibit_specific.instructions') %></p>

<table class="table table-striped" id="exhibit-specific-fields">
  <tbody>
    <% @exhibit.custom_fields.each do |field| %>
      <tr>
        <td>
          <div class="field-label"><%= field.label %></div>
          <div class="actions">
            <%= exhibit_edit_link field, class: 'btn btn-link' %> &middot;
            <%= exhibit_delete_link field, class: 'btn btn-link' %>
          </div>
        </td>
        <td class="field-description">
          <%= field.short_description %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>


<%= exhibit_create_link Spotlight::CustomField.new, class: 'btn btn-primary' %>
</div>
