<% is_not_faceted = false unless defined?(is_not_faceted) %>
<% if value.present? %>
  <tr>
    <th><%= name %></th>
    <td>
      <ul class="tabular">
        <li class="attribute <%= name %>">

          <% if value.is_a?(Array) %>
            
            <% if is_not_faceted %>
              <% value.each do |e| %>
                <% if e == '1' %>
                  <span><%= sanitize('true', tags: %w[a], attributes: %w[href target]) %></span>
                <% elsif e == '0' %>
                  <span><%= sanitize('false', tags: %w[a], attributes: %w[href target]) %></span>
                <% else %>
                  <span><%= sanitize(e, tags: %w[a], attributes: %w[href target]) %></span>
                <% end %>
              <% end %>
            <% else %>
              <% value.each do |e| %>
                <a href="<%= faceted_search_path(field, e) %>"><%= e %></a>
              <% end %>
            <% end %>
            
          <% else %>
            <% if is_not_faceted %>
              <span><%= sanitize(value, tags: %w[a], attributes: %w[href target]) %></span>
            <% else %>
              <a href="<%= faceted_search_path(field, value) %>"><%= value %></a>
            <% end %>
          <% end %>
        </li>
      </ul>
    </td>
  </tr>
<% end %>
