<h1>Listing Rights</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>URI</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rights.each do |right| %>
      <tr>
        <td><%= right.label %></td>
        <td><%= right.uri %></td>
        <td><%= link_to 'Edit', edit_right_path(right) %></td>
        <td><%= link_to 'Destroy', right_path(right), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Right', new_right_path %>
