<h2><%= @presenter.title %></h2>

<table class="table table-striped <%= dom_class(@presenter) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
    <%= render 'curation_concerns/base/attribute_rows' %>
  <tr>
    <th>Access Rights</th>
    <td>
      <%= @presenter.permission_badge %>
    </td>
  </tr>
  </tbody>
</table>


<% if can? :edit, @presenter %>
  <div class="form-actions">
    <%= link_to "Edit This #{@presenter.human_readable_type}", [:edit, @presenter], class: 'btn btn-primary' %>
    <%= link_to "Delete This #{@presenter.human_readable_type}", [:confirm_delete, @presenter], class: 'btn btn-primary' %>
  </div>
<% end %>
