<h2><%= @presenter.title %></h2>
<%= render_thumbnail_tag @presenter.solr_document %>

<table class="table table-striped <%= dom_class(@presenter) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
    <%= render 'curation_concerns/base/attribute_rows' %>
  <tr>
    <th>Access Rights</th>
    <td>
      <%= @presenter.permission_badge %>
    </td>
  </tr>
  </tbody>
</table>


<div class="form-actions">
  <% if can? :edit, @presenter %>
    <%= link_to "Edit Metadata",
                [:edit, @presenter],
                class: 'btn btn-default' %>

    <% if @presenter.edit_exhibit_path %>
      <%= link_to "Customize", 
                @presenter.edit_exhibit_path,
                class: 'btn btn-default' %>
    <% end %>

  <% end %>

  <%= link_to "View Members",
              catalog_index_path(add_facet_params('admin_set_ssi', @presenter.title)),
              class: 'btn btn-default' %>

  <% if can? :edit, @presenter %>
    <%= link_to "Delete Collection",
                [:confirm_delete, @presenter],
                class: 'btn btn-default pull-right' %>
  <% end %>
</div>
