<h2><%= @presenter.title %></h2>

<%= render 'curation_concerns/base/representative_media', work: @presenter %>

<table class="table table-striped <%= dom_class(@presenter) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
    <%= render 'curation_concerns/base/attribute_rows' %>
  <tr>
    <th>Access Rights</th>
    <td>
      <%= @presenter.permission_badge %>
    </td>
  </tr>
  </tbody>
</table>


<% if can? :edit, @presenter %>
  <div class="form-actions">
    <%= link_to "Edit Metadata", [:edit, @presenter], class: 'btn btn-default' %>
    <%= link_to "View Members", catalog_index_path(q: @presenter.title, search_field: 'admin_set'), class: 'btn btn-default' %>
    <%= link_to "Delete Collection", [:confirm_delete, @presenter], class: 'btn btn-default pull-right' %>
  </div>
<% end %>
